*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: ubuntu
  font-weight: 500


$primary-color: #4baea0


@import "nav"
@import "button"
@import "box"

body
  background-color: #F7F7F7
  min-height: 100vh
