*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: ubuntu
  font-weight: 500

@import "nav"
@import "button"
@import "box"
@import "colors"

body
  background-color: #F7F7F7
  min-height: 100vh

.app
  @each $name, $color in $colors
    &--#{$name}
      .nav
        background-color: $color
      .box__title
        color: $color

